body {
    font-family: 'Roboto', 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    color: 434455;
}
header {
    background-color: FFFFFF;
}
h2, h3 {
    color: 2E2F42;
}
h1 {
    color: white;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}
h2 {
font-weight: 700;
font-size: 36px;
letter-spacing: 2%;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}
ul {
    list-style-type: none;
}
.nav-menu .nav-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;

}
.nav-menu .nav-links a {
font-size: 16px;
font-weight: 500;
}
.nav-menu .nav-links a:hover {
    color: 4D5AE5;
}
.address .address-links {
    color: 434455;
    font-size: 16px;
    font-weight: 400;
}
.address .address-links:hover, .address .address-links:active {
    color: 4D5AE5;
}

.main {
    background-color: 2E2F42;
}
.benefits {
    background-color: FFFFFF;
}
.team {
    background-color: F4F4FD;
}
.portfolio {
    background-color: FFFFFF;;
}